html {
    overflow: hidden;
    height: 100%;
}
a {
    color: #707070;
}
a:link {
    text-decoration: none;
}
a:hover {
    /*text-decoration: underline;*/
    color: #6bff83;
}

body {
    padding: 1px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    overflow: auto;
}

h2, p {
    font-family: 'Quicksand', sans-serif;
    color: #424242;
}

#title {
    text-decoration: none;
}
#headerbar {
    background-color: #ffffff;
    overflow: auto;
    text-align: center;
    height: 70px;
}

#name {
    display: inline-block; 
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: auto;
    width: 130px;
}

#name > h2 {
    color: #c9c9c9;
    display: inline-block;
}

#navbar {
    float: right;
    margin-right: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
  }

#intro {
    position: relative;
    text-align: center;
    font-size: 50px;
    height: 100vh;
    padding: 0px;
    background-color: #ffffff;
}

#intro-inner {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.arrow {
    height: 10%;
    width: 10%;
    margin-top: 5%;
    padding: 20px;
}
#about {
    position: relative;
    font-size: 20px;
    height: calc(100vh - 60px);
    background-color: rgb(244, 253, 255);
}
#about-inner {
    position: absolute;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border-width: 20px;
    border-style: solid;
    border-color: #ffffff;
}